<h1 *ngIf="isAddMode">Add Employee</h1>
<h1 *ngIf="!isAddMode">Edit Employee</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label>Employee ID</label>
            <input type="text" formControlName="employeeId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeId.errors }" />
            <div *ngIf="submitted && f.employeeId.errors" class="invalid-feedback">
                <div *ngIf="f.employeeId.errors.required">Employee ID is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-check col-2" style="margin-left: 25px;">
            <input type="checkbox" formControlName="isSupervisor" class="form-check-input" id="isSupervisor">
            <label class="form-check-label" for="isSupervisor">Supervisor?</label>
        </div>
        <div class="form-group col">
            <label>Supervisor</label>
            <select formControlName="supervisorId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.supervisor.errors }">
                <option value=""></option>
                <option value="nichaud">Nishchal Chaudhary</option>
            </select>
            <!-- <div *ngIf="submitted && f.supervisor.errors" class="invalid-feedback">
                <div *ngIf="f.supervisor.errors.required">Title is required</div>
            </div> -->
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/employees" class="btn btn-link">Cancel</a>
    </div>
</form>