<h1>My Accruals</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Accrual Type</th>
            <th style="width: 20%; text-align: right;">Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let accrual of accruals">
            <td style="width: 20%">{{accrual.accrualType}}</td>
            <td style="width: 20%; text-align: right;">{{accrual.hours | number : '1.1'}}</td>
        </tr>
        <tr *ngIf="!accruals">
            <td colspan="2" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>